# node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnp.*
.pnp

# sistema
.DS_Store
Thumbs.db

# ambiente
.env
.env.local
.env.*.local

# diretórios gerados
dist/
build/
coverage/
.cache/
tmp/
out/

# Puppeteer
.chromium/
.chromium-cache/

# logs
logs/
*.log

# VSCode (se usares)
.vscode/

# outros editores
.idea/
*.sublime-workspace
*.sublime-project
